/*Alberto Moura*/
.contenedorTabla{
    margin-left: 10px;
}
.contenedorTabla2{
    margin-left:10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #cc9b9a, #1565c0);
}
/* ETIQUETAS PARA EL LOGIN*/
.box-login {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    border-radius: 50%;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}
.box-login input[type="text"],
.box-login input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box-login h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box-login input[type="text"]:focus,
.box-login input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box-login input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box-login input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}
/* FIN DE ETIQUETAS LOGIN*/
.box {
    height: 100%;
    background: #191919;
    text-align: center;
}
.v-align {
    vertical-align: top;
}
.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}
.display-table-row {
    display: table-row;
    height: 100%;
}
.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}
.navi a {
    border-bottom: 1px solid #3498db;
    border-top: 1px solid #3498db;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 28px;
   
}
.user-dashboard h1 {
    color: #101c38;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
    padding: 21px ;
    margin-top:10%;
    text-align: center;
    
}
.user-dashboard .sales h2 {
    color: #0a1b3d;
    
    font-size: 20px;
    font-weight: 500;
    margin-left: 42px;
    padding: 13px 9 0;
}
.sales button  {
    border: 0;
    background: black;
    display: inline-table;
    margin: 10px auto;
    margin-left: 40px;
    text-align: center;
    border-bottom: 1px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.dropdown-menu{
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}
.box-rn {
    width: 35%;
    padding: 2px;
    position: absolute;
    top: 100px;
    left: 30%;
    background: #191919;
    border-radius: 5%;
    text-align: center;
    transition: 0.25s;
}
.box-rn2{
    width: 50%;
    padding: 2px;
    position: absolute;
    top: 100px;
    left: 30%;
    background: #191919;
    border-radius: 5%;
    text-align: center;
    transition: 0.25s;
}
.ContenidoLocal {
    position: absolute;
    top:10px;
    left:20%;
    padding: 2px;
}

.box-rn input[type="text"],
.box-rn input[type="email"],
.box-rn input[type="password"] {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.box-rn input[type="button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
.box-rn input[type="button"]:hover {
    background: #2ecc71
}
.box-rn input[type="text"]:focus {
    width: 220px;
    border-color: #2ecc71;
}
.forgot {
    text-decoration: underline
}
.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}
.box-rn input[type="text"] {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.select-input {
    border: 0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.containerOwnApp {
   box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
   padding-top: 15px;
}
 .login-page {
   padding: 18% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
   left: 400px;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }